<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dybcatering.live4teach">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRegist"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Splash.Estudiante.MisCursos.MisCursosDetallePostCompra.AcercaDeCurso.AcercaCursoActivity"
            android:theme="@style/AppThemeRegist.NoActionBar">

        </activity>
        <activity
            android:name=".Splash.Estudiante.CursosDisponibles.CursosDetalle"
            android:parentActivityName=".Splash.Estudiante.Inicio.InicioActivity" />
        <activity android:name=".Login.OlvideContrasena">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login.LoginActivity" />
        </activity>
        <activity
            android:name=".Splash.Estudiante.Inicio.InicioActivity"
            android:label="Live4Teach" />
        <activity
            android:name=".Splash.Estudiante.Carrito.CarritoDetalleActivity"
            android:parentActivityName=".Splash.Estudiante.Carrito.CarritoActivity" />
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash.Estudiante.Carrito.CarritoActivity"
            android:parentActivityName=".Splash.Estudiante.Inicio.InicioActivity" />
        <activity android:name=".Splash.Estudiante.MisCursos.MisCursosDetalleVerMas" />
        <activity android:name=".Splash.Estudiante.MisCalificaciones.MisCalificacionesDetalle" />
        <activity android:name=".Splash.Estudiante.MisCursos.MisCursosDetallePostCompra.AcercaDeCurso.MisActividades.MisActividadesDetalle" />
        <activity
            android:name=".Splash.Estudiante.Perfil.ActualizarDatos"
            android:parentActivityName=".Splash.Estudiante.PrincipalActivity" />
        <activity android:name=".Splash.Estudiante.MisCertificados.MisCertificadosDetalle" /> <!-- android:parentActivityName=".Estudiante.PrincipalActivity" / -->
        <activity
            android:name=".Login.PreLoginActivity"
            android:theme="@style/AppThemeRegist.NoActionBar" />
        <activity android:name=".Login.HomeActivity" />
        <activity
            android:name=".Login.RegisterActivity"
            android:parentActivityName=".Login.PreLoginActivity"
            android:theme="@style/AppThemeRegist" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppThemeLogin" />
        <activity android:name=".Splash.Tutor.InicioActivityTutor" />
    </application>

</manifest>