<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dybcatering.live4teach">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRegist"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Carrito.CarritoActivity"
            android:parentActivityName=".PrincipalActivity" />
        <activity android:name=".MisCursos.MisCursosDetalleVerMas" />
        <activity android:name=".MisCalificaciones.MisCalificacionesDetalle" />
        <activity android:name=".MisActividades.MisActividadesDetalle" />
        <activity
            android:name=".Perfil.Actualizar"
            android:parentActivityName=".PrincipalActivity" />
        <activity android:name=".MisCertificados.MisCertificadosDetalle" />
        <activity android:name=".MisCursos.MisCursosDetalle" />
        <activity
            android:name=".CursosDisponibles.CuartoCurso"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".CursosDisponibles.TercerCurso"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".CursosDisponibles.SegundoCurso"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".CursosDisponibles.PrimerCurso"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".Login.PreLoginActivity"
            android:theme="@style/AppThemeRegist.NoActionBar">

        </activity>
        <activity android:name=".Login.HomeActivity" />
        <activity
            android:name=".Login.RegisterActivity"
            android:theme="@style/AppThemeRegist" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".PrincipalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppThemeRegist.NoActionBar" />
        <activity android:name=".SubPrimerActivity" />
    </application>

</manifest>